.back {
	background-image: url('../images/marvel-bg.jpg');
	background-size: 100%;
	width: 1366;
	height: 625;
	display: inline-block;
	margin: 78px 0px 0px 0px;
}

.head {
	width: 1366;
	height: 80;
	border: 1px solid black;
}

.headtext {
	padding: 25px 0px 15px 615px;
	font-family: 'Play', sans-serif;
	font-size: 20px;
}

@media screen and (max-width : 320px) {
	#container {
		width: 100%;
	}
	.links {
		width: 100%; 
		padding: 10px 45px 10px 0px;
		text-align: center !important;
		border: 1px solid black;
		display: none;
	}
	.title {
		padding: 10px 0px 10px 60px !important;
		text-align: center;
	}
	.back {
		width: 100%;
		height: 90%;
		background-image: url('../images/civilwar.jpg');
		position: fixed;
	}
}


.links {
	text-decoration: none;
	color: black;
	text-align: right;
	display:inline-block;
	padding: 10px 45px 10px 30px;
	font-family: 'Play', sans-serif;
}

.links2 {
	color: black;
	font-family: 'Play', sans-serif;
}


a {text-decoration: none;}
a:hover {text-decoration: none;}  

.links:hover {
	color: red;
}

.links2:hover {
	color: #FF0040;
	text-decoration: underline;
}

.title {
	color: black;
	display: inline-block;
	padding: 10px 400px 10px 20px;
	font-family: 'Play', sans-serif;
	font-size: 25px;
}

.title3 {
	color: black;
	padding: 10px 400px 10px 20px;
	font-size: 17px;
	font-color: red;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
	font-family: 'Play', sans-serif;

}

.title2 {
	color: black;
	padding: 10px 400px 10px 20px;
	font-size: 17px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
	font-family: 'Play', sans-serif;

}

.inline {
	display: inline-block;
}

#facebook {
	background-image: url('../Portfolio 1.0/images/facebook-icon.jpg');
	background-size: 100%;
	height: 23px;
	width: 23px;
	text-align: right;
	display: inline-block;
	margin: 35px 20px 0px 30px;
}

#twitter {
	background-image: url('../Portfolio 1.0/images/twitter-icon.png');
	background-size: 100%;
	height: 18px;
	width: 18px;
	text-align: right;
	display: inline-block;
	margin: 25px 20px 0px 30px;
}

#head2 {
	border-bottom: 1px solid black;
	font-family: 'Play', sans-serif;
	position: fixed;
	background-color: white;
	color: black;
	width: 100%;
}

#bodyback {
	background-color: white;
}

#marvel-bg {
	background-image: url('../Portfolio 1.0/images/marvel-bg.jpg');
	height: 560px;
	width: 1348px;
	background-size: 100%;
}

.jumpback {
	text-decoration: none;
	color: white;
	text-align: right;
	display:inline-block;
	padding: 10px 30px 10px 630px;
	font-family: 'Play', sans-serif;
	text-align: center;
}

.jumpback:hover {
	color: #FF0040;
}



.favtracks {
	font-family: 'Play', sans-serif;
	margin: 0px 0px 0px 10px;
}

.aboutcoldplay {
	font-family: 'Play', sans-serif;
	font-size: 14px;
}

.aboutme {
	margin: 0px 30px 15px 50px;
	padding: 0px 30px 15px 25px;
	text-align: center;
	font-family: 'Play', sans-serif;
	font-size: 30px;
}

.aboutme2 {
	margin: 0px 30px 15px 50px;
	padding: 0px 30px 15px 25px;
	text-align: center;
	font-family: 'Play', sans-serif;
	font-size: 25px;
}

.aboutcode {
	margin: 15px 130px 15px 155px;
	padding: 15px 130px 15px 150px;
	font-family: 'Play', sans-serif;
}

.aboutmusic {
	margin: 0px 45px 15px 310px;
	display: inline-block;
	height: 300px;
	width: 355px;
	font-family: 'Play', sans-serif;
	vertical-align: top;
}

.aboutcomic {
	margin: 0px 275px 15px 310px;
	display: inline-block;
	font-family: 'Play', sans-serif;
	vertical-align: top;
}

.aboutgame {
	margin: 0px 275px 15px 310px;
	display: inline-block;
	font-family: 'Play', sans-serif;
	vertical-align: top;
}

.musicplay {
	display: inline-block;
	font-family: 'Play', sans-serif;
	margin: 0px 190px 15px 50px;
	vertical-align: top;
}

#coffeeshop {
	margin: 0px 0px 0px 430px;
	height: 600px;
	width: 450px;
}

#concert {
	margin: 0px 0px 0px 300px;
	height: 600px;
	width: 800px;
}

#carshow {
	margin: 0px 0px 0px 300px;
	height: 600px;
	width: 800px;
}

#frisco {
	margin: 0px 0px 0px 300px;
	height: 600px;
	width: 800px;
}

.name {
	padding: 0px 0px 0px 560px;
}

#overlay {
    display:none;
    opacity:0.6;
    background-color:black;
    position:fixed;
    width: 1363;
	height: 625;
    top:0px;
    left:0px;
    z-index: 1;
    margin: 77px 0px 0px 0px;

}

#popupBox {
    display:inline-block;  
    position: relative;
    color: black;
    z-index: 1000;
   	width: 1363;
	height: 625;
}

#popupContent {
    display:none;
    color: white;
    width: 1360;
	height: 625;
	position: fixed;
}


/*#hamburger {
    border: 1px solid #374C77;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #4569b2;
    background: -moz-linear-gradient(top,  #4569b2 0%, #4062a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4569b2), color-stop(100%,#4062a5));
    background: -webkit-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -o-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: -ms-linear-gradient(top,  #4569b2 0%,#4062a5 100%);
    background: linear-gradient(to bottom,  #4569b2 0%,#4062a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4569b2', endColorstr='#4062a5',GradientType=0 );
}

/*
The white stripes in the hamburger button
*/
/*#hamburger div {
    background-color: black;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}*/